<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataMantleMoGenMigrations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Mogenerator2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8112B051B6F52C600C5BFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8112B0A1B6F571000C5BFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8DA5FB21B69FF02004EE830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8DA5FD11B69FF02004EE830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
